@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
    font-family: Medusa Gothic Regular;
    src: url(fonts/MedusaGothic\ D.otf);

}
:root {
    --primary: #e48383;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
body {
    background:var(--primary);
    font-family:Medusa Gothic Regular;
    line-height: 1.4;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
   
}
.wrapper {
    display: grid;
    grid-gap: 1px;
    max-width: 100%;

}
a {
    text-decoration: none;
    color: var(--dark);
}
/*Navigation bar setup*/
.logo {
    width: 13rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

nav {
    background:var(--dark);
    color: #fff;
    display: flex;
    justify-content: space-between;

}

nav .mainMenu {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 50px;
    border-style: hidden solid hidden hidden;
    border-color: #fff;
    border-width: 1px;
    text-decoration: none ;
    text-transform: lowercase;
    color: var(--primary);
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: #fff;
    text-transform: uppercase;
    border-style: hidden hidden hidden hidden;
}
nav .openMenu {
    font-size: 2rem;
    margin: 1px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-github:hover {
    color: red;
}
.fa-linkedin:hover {
    color: green;
}
.fa-twitter:hover {
    color: skyblue;
}
nav .logo {
    margin: 6px;
    cursor: pointer;
}
/*Header*/
.banner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: var(--light);
}
.bArt {
    place-items:left;
    grid-column: 1/1;
    grid-row: 1/1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
}
.G {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 3rem;
    max-width: 100%; 
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 1px;
}
.G:hover {
    background-color: var(--primary);
}
.banner h1 {
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 5rem;
    color: var(--dark);
    text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}

.banner p {
    grid-column: 1/1;
    grid-row: 1/1;
    object-position: right;
    text-align: right;
    margin-top: 13rem;
    margin-right:15rem;
    margin-left: 50rem;
    

}

.banner .socials {
    margin-right: 23rem;
}
/*Projects*/
.Projects {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: #F0BE0B;
    height: 50rem;
    margin-top: 3rem;
    border-style: solid hidden solid hidden;
    border-color: var(--dark);
}
.Projects1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: #b16ad2;
    height: 50rem;
    margin-top: 3rem;
    border-style: solid hidden solid hidden;
    border-color: var(--dark);
}

.hs {
    place-items:left;
    grid-column: 1/1;
    grid-row: 1/1;
    width: 50%;
    opacity: 0.5;
    max-width: 100%;
    object-fit: fill;
}
.projH {
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 5rem;
    color: var(--dark);
    text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}
.projP {
    grid-column: 1/1;
    grid-row: 1/1;
    object-position: right;
    text-align: right;
    margin-top: 13rem;
    margin-right:15rem;
    margin-left: 50rem;
}
/*Heavy Shades*/
.shades {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: var(--dark);
    height: 30rem;
    padding: 100rem auto;
    border-style: solid hidden solid hidden;
    border-color: var(--dark);
    width: 100%;
}
.ShadesI {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 25rem;
    opacity: 1;
    max-width: 100%;
    object-fit: fill;
    z-index: 1;
    
}
.ShadesH {
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: center;
    margin-top: 100px;
    font-size: 5rem;
    color: var(--dark);
    text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
    z-index: 2;
}
.ShadesP {
    font-family: 'Didact Gothic', sans-serif;
    color: var(--light);
    font-size: 2em;
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: left;
    margin-top: 13rem;
    margin-left: 30rem;
    margin-right: 30rem;
    z-index: 2;
    width: 70%;
}
.content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 12;
    margin: 10px auto;
   
}
.contentImg {
    grid-columns: 1;
    grid-row: 1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
    border-style: solid solid solid solid;
    border-color: #F0BE0B;
    opacity: 0.8;
    border-radius: 10%;
    margin: 10px auto;
}
.contentH {
    grid-row: 1;
    grid-column: 2/2;
    margin: 1rem;
}
.contentP {
    font-family: 'Didact Gothic', sans-serif;
    grid-row: 1;
    grid-column: 2/2;
    margin-top: 3em;
    margin-left: 2em;
    font-size: 1.5em;
}
.content2 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 12;
    margin: 10px auto;
   
}
.contentH2 {
    grid-row: 1;
    grid-column: 1/3;
    margin: 2rem;
}
.singleH {
    grid-row: 1;
    grid-column: 1/3;
    width: 10vw;
}
.contentP2 {
    font-family: 'Didact Gothic', sans-serif;
    grid-row: 1;
    grid-column: 1/3;
    margin-top: 3em;
    margin-left: 2em;
    font-size: 1.5em;
}
.singleP {
    font-family: 'Didact Gothic', sans-serif;
    grid-row: 1;
    grid-column: 2/3;
    margin-left: 2em;
    font-size: 1.5em;
}
.images3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;

}
.i1 {
    grid-column: 1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
    border-style: solid solid solid solid;
    border-color: var(--dark);
    opacity: 0.8;
    margin: 10px auto;
}
.i2 {
    grid-column: 2;
    grid-row: 1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
    border-style: solid solid solid solid;
    border-color: var(--dark);
    opacity: 0.8;
    margin: 10px auto;
}
.i3 {
    grid-column: 3;
    grid-row: 1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
    border-style: solid solid solid solid;
    border-color: var(--dark);
    opacity: 0.8;
    margin: 10px auto;
}
.i4 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    max-width: 100%;
    object-fit: fill;
    border-style: solid solid solid solid;
    border-color: var(--dark);
    opacity: 0.8;
    margin: 10px auto;
}
.iT {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5em;
    grid-column: 1 2;
    grid-row: 1;
    width: 75%;
    max-width: 100%;
    object-fit: fill;
    margin: 10px auto;
}
/*About*/
.About {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    padding-bottom: 100px;
    background-color: var(--light);
}
.About h1 {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: left;
    margin-top: 100px;
    margin-right: 300px;
    padding-bottom: 100px;
    font-size: 5rem;
    color: var(--dark);
    text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
    max-width: 100%;
}
.About p {
    font-family: 'Didact Gothic', sans-serif;
    grid-column: 2/2;
    grid-row: 1/1;
    object-position: right;
    text-align: left;
    margin-top: 13rem;
    white-space:pre-wrap;
    word-wrap: break-word;
   

}
.me {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 50%;
    margin-top: 1rem;
    margin-left: 20rem;
    max-width: 100%;
    object-fit: fill;
    border-radius: 50%;
    border-style: solid solid solid solid;
    border-width: 10px;
    border-color: var(--primary);
}
/*Contact*/
.contact {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}
.mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20rem;
    grid-column: 2/3;
    grid-row: 2/2;
    padding-top: 70px;
}
.mailText {
    grid-column:2/3 ;
    grid-row: 2/2;
    text-align: center;
    margin: 10px;
}
.email {
    font-family: 'Didact Gothic', sans-serif;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: var(--primary);
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    opacity: 0;
    width: 100%;
}
.email:hover {
    opacity: 1;
}
.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width:20rem;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 70px
}
.phoneText {
    grid-column:2/3 ;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
}
.num {
    font-family: 'Didact Gothic', sans-serif;
    grid-column:2/3 ;
    grid-row: 1/2;
    text-align: center;
    z-index: 1;
    background-color: var(--primary);
    opacity: 0;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}
.num:hover {
    opacity: 1;
}

/*Footer*/
footer {
   
  width: 100vw;
    margin-top: 5rem;
    background: var(--dark);
    color: var(--primary);
    text-align: center;
    font-size: 1.5em;
    padding: 2rem;
    border-style: solid hidden solid hidden;
    border-width: 1px;
    border-color: var(--light);
}
/*********************Media Queries***********************/
@media(max-width: 800px) {
    .body {
        width: 100vw;
        overflow-x: hidden;
    }
/*Navigation*/    
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition:top 1s ease;
        display: none;
        
    }
    nav .mainMenu li a {
        border-style: hidden hidden hidden hidden;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: red;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }


  /*Homepage*/  
    .banner {
        display: grid;
       grid-template-columns: 100%;
       
       width: 100vw;
       height: 100vh;
    }
    .socials {
        display: flex;
        width: 10rem;
        max-width: 100%;
        padding-left: 100px;
    }
    .bArt {
        max-width: 100%;
        width:100%;
    }
.banner h1{
    width: 100%;
    font-size:4rem;
    text-align: left;
    margin-right: 10px;
    margin-top: 400px;
}
.banner p {
    font-size: 10px;
    text-align: left;
    width: 100%;
    object-position: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-top: 500px;
}
/*Projects*/
.Projects {
    display: grid;
    grid-template-columns: 100%;
    
    width: 100vw;
    height: 60vh;
}
.Projects1 {
    display: grid;
    grid-template-columns: 100%;
    
    width: 100vw;
    height: 60vh;
}
.hs {
    max-width: 100%;
    width:100%;
}
.projH{
    width: 100%;
    font-size:3rem;
    text-align: left;
    margin-top: 26rem;
    margin-left: 2rem;
}
.projP {
    font-size: 10px;
    text-align: left;
    width: 100%;
    object-position: left;
   
    margin-left: 100px;
    margin-top: 500px;
}
/*Project page*/
.shades{
    display: grid;
   grid-template-columns: 100%;
   width: 100vw;
   height: 50vh;
}
.ShadesH{
    max-width: 100%;
    width: 100%;
    font-size:3rem;
    text-align: left;
    height: 100vh;
    margin-left: 2rem;
   
}
.ShadesP {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    object-position: left;
    padding-right: 50px;
    margin-left: 1rem;
    
}
/*About*/
.About {
    display: grid;
   grid-template-columns: 100%;
   
   width: 100vw;
   height: 100vh;
}
.me {
    max-width: 100%;
    width:50%;
    margin: 10px auto;
}
.About h1{
   grid-column: 1;
   font-size: 4rem;
   width: 100%;
   margin: 25rem auto;
   padding-left: 100px;
   text-align: left;
    
}
.About p {
    grid-row: 1;
    grid-column: 1;
    font-size: 10px;
    text-align: left;
    width: 100%;
    object-position: left;
    margin-top: 30rem;
    margin-left: 75px;
    white-space: wrap;
}
/*Contact*/
.contact {
grid-template-columns: 10%;

}
}

